.heder {
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 300px;

}
    .site-branding {
        width: 100%;
        height: 300px;
        left: 0;
        position: absolute;

        h2 {
            margin-top: 75px;
            text-align: center;
            font-weight: bold;

        }
        &:before {
            content: "";
            background: yellow;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: -2;
            transform: skewY(3deg);
        }
    }

@media all and (max-width: 768px) {
    .heder {
    padding-top: 50px;
    
}
    .site-branding {
        width: 100%;
        height: 300px;
        left: 0;
        position: absolute;

        h2 {
            margin-top: 75px;
          

        }
        
    }
    
}