
.navbar-default{
    background: none;
    border: none;
    button {
        border: none;
        background: none;
        text-shadow: none;
    }
}

.logo {
     img {
         height: $logoSizeXS;
         width: $logoSizeXS;
         background: $logoBackGround;
         border-radius: 50%;
     }
 }
 