.navMain {
    z-index: 2;
    &__menu {
        &__logo {
            padding: 0;
            padding-left: 40px;
            &__img {
                width: $logoSizeXS;
                background: $logoBackground;
                border-radius: 50%;
            }
        }
        &__hamburger {
            padding: 5px;
            margin: {
                right: 65px;
                top: 17px;
            }
            & .navMain__menu__hamburger--span {
                width: 30px;

                & + .navMain__menu__hamburger--span {
                    margin-top: 6px;
                }
            }
        }
        &__nav {
            position: relative;
            margin-bottom: 20px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                background: $colorMenu;
                width: 90%;
                height: 95%;
                transform: translateX(-10px) translateY(-20px) skewY(3deg);
            }

            &__ul {
                &--search {
                    margin-bottom: 50px;
                    margin-left: 5px;
                }
                &__li {
                    &--dropdown {
                        &--toggle {
                            &::after {
                                content: "";
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid $colorDropMenu;
                                transform: translateY(7px) translateX(3px);
                            }
                        }
                    }
                }
            }
        }
    }
    &__changeLetters {
        display: flex;
        justify-content: center;
        height: 50px;
        &--button {
            font: {
                family: $mainFont;
                size: 22px;
                weight: 900;
            }
            transform: translatey(-40px);
            color: $colorChangeLetters;
            &.navMain__changeLetters__reducing {
                font-size: 16px;
                transform: translateY(-43px);
            }
        }
    }
    &--search {
        background: 0;
        margin: 5px;
        width: 70%;
        float: left;
        button {
            float: right;
            margin: 5px;
        }
    }
}


//@media all and(min-width: 768px) {
//    .logo {
//        img {
//            height: $logoSizeSM;
//            width: $logoSizeSM;
//        }
//    }
//}
