.news {
    h4 {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid;
    }
    .row {
        position: relative;

    }
    article {
        position: relative;
        padding: 10%;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background: $articleBackGround;
            width: 80%;
            height: 90%;
            z-index: -2;
            transform: skewY(3deg) translateY(-5%);
        }
    }
}

@media (min-width:769px) and (max-width: 1199px) {
    .news {
            
        h4 {
            
            margin: 0;
        }
        .row {
            padding: {
                top: 3%;
                right: 5.5%;
                left: 5.5%;
                
            }
//            &:nth-child(odd) {
//                
//                width: 100%;
//
//            }
//            &:nth-child(even) {
//               
//            }

            article {
               padding: 5%
                }
                &:before {
                    width: 80%;
                    height: 80%;
                }
            }
        }
    
}

