.news {
    position: relative;
    &__row {
        margin-bottom: 70px;
        &__div {
            &__article {
                padding: 2%;
                &--title {
                    padding-top: 2%;
                    border-bottom: 1px solid #000;
                    width: 100%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background: $articleBackGround;
                    width: 91.5%;
                    height: 100%;
                    z-index: -2;
                    transform: skewY(3deg);
                }
                &--content {
                    margin: 2%;
                    box-sizing: border-box;
                }
            }
            &--readNext {
                height: 40px;
                width: 100%;
                &--button {
                    float: right;
                    transform: translateX(-20px);
                    background: none;
                    text-align: right;
                    border: 0;
                    border-bottom: 1px solid #000;
                }
            }
            & + .news__row__div {
                margin-top: 40px;
            }
        }
    }
}

@media all and(min-width: 768px) {
    .news {
        position: relative;
        &__row {
            margin-bottom: 70px;
            &__div {
                margin-top: 40px;
            }
        }
    }
}

@media all and(min-width: 768px) and (max-width: 991px) {
    .news__row__div {
        &:nth-child(even) {
            margin-top: 8%;
        }
    }
}

@media all and(min-width: 992px) and (max-width: 1199px) {
    .news__row__div {
        &:nth-child(even) {
            margin-top: 7%;
        }
    }
}

@media all and(min-width: 1200px) {
    @include newsRadius(1.4%);
}
