.logo {
    width: 50px;
}

.navbar-default {
    background: transparent;
}

.nav {
    
}
.navbar-nav input {
    width: 60px;
    font-size: 15px;
}
.navbar-header{
    padding: {
        left:  5%;
        right: 5%}
}
.navbar-collapse {
    ul {
        padding: 0;
        width: 70%}
    li {
        padding: {
            left: 1%;
            right: 1%;
            top: 3%;
        }
        font: {
            family: $mainFont;
            size: 24px;
            
        }
        list-style: none;
    }
}