//wczytanie boodstrapa
@import 'settingsBootstrap';

$colorBackgroung: #097046;
$mainFont: 'Open Sans';
$articleBackGround: #FFF;
//nav
$logoSizeXS: 75px;
$logoSizeSM: 150px;
$logoBackground: #094041;
$colorHamburer: #D1D1D1;
$colorMenu: #E9E9E9;
$colorChangeLetters: #E7E6E6;
$menuBorderBottom: #000;
$colorDropMenu: #000;
//footer
$footerBackGround: #E9E9E9;

@import 'layout/news';
@import 'layout/about';
@import 'components/header';
@import 'components/footer';
@import 'components/nav';
