@import "settings";
@import "layout/news";
@import "layout/about";
@import "components/heder";
@import "components/footer";
@import "components/nav";

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    /*dostosowanie do tego by 0,1 rem był jak 1px*/
    body {
        background-color: $colorBackGround;
    }
}

img {
    width: 200px;
}

button {
        border: none;
        background: none;
        text-shadow: none;
    }